* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

div#container-app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}

.wrapper-app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-app p {
  color: rgb(255, 111, 0);
  width: 50%;
  margin: 1rem auto 0rem auto;
}

.wrapper-app img {
  width: 150px;
}

#form-element {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 88;
}

#form-element-after {
  width: 100%;
  opacity: 0;
  transition: 1s;
}

#btn-wrapper {
  width: 50%;
  margin: 1rem auto;
  display: flex;
  min-width: 250px;
  align-items: center;
  justify-content: center;
  position: relative;
}

#btn-wrapper button {
  width: 40%;
  height: 2rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  outline: none;
  border: none;
  background: rgb(255, 111, 0);
  color: white;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
  z-index: 99999;
}

#btn-wrapper button:hover {
  background: white;
  color: rgb(255, 111, 0);
  cursor: pointer;
}

#first-element {
  width: 100%;
  background: rgb(17, 17, 17);
  transition: 1s;
}

#first-element-after {
  width: 100%;
  background: rgb(17, 17, 17);
  transition: 1s;
}

#second-element {
  background: rgb(255, 111, 0);
  width: 100%;
  height: 30%;
  position: relative;
  transition: 1s;
}

#second-element-after {
  background: rgb(255, 111, 0);
  width: 100%;
  height: 100%;
  position: relative;
  transition: 1s;
}

.label-element {
  display: block;
  width: 50%;
  min-width: 250px;
  margin: 1rem auto;
  color: rgb(255, 111, 0);
}

.span-input-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.span-input-div span {
  width: 10%;
  background: white;
  height: 2.5rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
  background: rgb(255, 111, 0);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-element {
  width: 90%;
  height: 2.5rem;
  margin: 0 auto;
  border: none;
  min-width: 250px;
  outline: none;
  text-align: center;
  font-size: 1.5rem;
  transition: border 0.3s, box-shadow 0.2s;
  z-index: 999;
}

.input-element:focus {
  box-shadow: 1px 2px 3px rgb(255, 111, 0), -1px -2px 3px rgb(255, 111, 0);
  outline: none;
  border: none;
}

.wrapper-app .error-message {
  width: 50%;
  min-width: 250px;
  font-size: 0.8rem;
  margin: 0.5rem auto;
  color: red;
}

#data-info {
  margin-left: 0.5rem;
  color: white;
}

#result-info {
  position: absolute;
  font-size: 3rem;
  top: 24%;
  width: 90%;
  text-align: center;
  color: white;
  transform: translateX(-110%);
  opacity: 0;
  transition: 1s;
}

#result-info span {
  color: rgb(255, 111, 0);
  font-weight: bold;
}

#result-info-after {
  position: absolute;
  font-size: 2.5rem;
  top: 0;
  width: 90%;
  text-align: center;
  color: white;
  transform: translateX(0%);
  opacity: 1;
  transition: 1s;
}

#result-info-after span {
  color: rgb(17, 17, 17);
  font-weight: bold;
}

#reconvert-btn {
  border: none;
  background: none;
  font-size: 1.5rem;
  outline: none;
  color: blue;
  opacity: 0;
}

#reconvert-btn-after {
  border: none;
  background: none;
  font-size: 1rem;
  outline: none;
  color: blue;
  opacity: 1;
  transition: 1s;
}

#reconvert-btn-after:hover {
  cursor: pointer;
  text-decoration: underline;
}

#logotipo-right-show {
  opacity: 1;
  transition: 1s;
}

#logotipo-right-hide {
  opacity: 0;
  transition: 1s;
}

#logotipo-left-show {
  opacity: 1;
  transition: 1s;
  position: absolute;
  width: 250px;
}

#logotipo-left-hide {
  opacity: 0;
  transition: 1s;
  position: absolute;
}

@media (min-width: 768px) {
  .wrapper-app {
    flex-direction: column;
  }

  div#container-app {
    flex-direction: row;
  }

  .wrapper-app img {
    width: 400px;
  }

  #second-element {
    width: 90%;
    height: 100%;
  }

  .wrapper-app p {
    margin: 3rem auto 0rem auto;
  }

  #first-element-after {
    background: rgb(255, 111, 0);
    width: 90%;
  }

  #second-element-after {
    background: rgb(17, 17, 17);
  }

  .wrapper-app .error-message {
    margin: 1rem auto;
  }

  #reconvert-btn-after {
    font-size: 1.5rem;
    position: absolute;
    margin-top: 15rem;
  }

  .wrapper-app img {
    width: 400px;
  }

  #logotipo-left-show {
    opacity: 1;
    transition: 1s;
    position: absolute;
    width: 400px;
  }

  #result-info-after {
    top: 24%;
    font-size: 3rem;
  }

  #result-info-after span {
    color: rgb(255, 111, 0);
  }
}
